.text-field {
    -fx-prompt-text-fill: #e49e2e;
}

.button:hover{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
        -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}

.label:hover {
    -fx-text-fill: #c94444;
}