.root {
    -fx-background-color:  #3c3c3c;
}

.regulartextfield {
    -fx-background-color:   #242424;
    -fx-text-fill: #e8e8e8;
    -fx-border-color:  #e8e8e8;
    -fx-border-radius: 5;
}

.regulartextfield:focused {
    -fx-border-color: #46ab57;
}

.regularpasswordfield {
    -fx-background-color:   #242424;
    -fx-text-fill: #e8e8e8;
    -fx-border-color:  #e8e8e8;
    -fx-border-radius: 5;
}

.regularpasswordfield:focused {
    -fx-border-color: #46ab57;
}

.regularbutton {
    -fx-background-color:  #46ab57;
    -fx-text-fill: #e8e8e8;
     -fx-border-radius: 5;
}

.regularbutton:hover {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 5,0,0,1 );
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.5) , 10,0,0,0 );
    -fx-opacity: 1.1;
}

.regularbutton:pressed:hover {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.regularbutton:focused {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 5,0,0,1 );
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.5) , 10,0,0,0 );
    -fx-opacity: 1.1;
}

.favButton {
    -fx-background-color: #FF1493;
    -fx-text-fill: #e8e8e8;
     -fx-border-radius: 5;
}

.favButton:hover {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 5,0,0,1 );
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.5) , 10,0,0,0 );
    -fx-opacity: 1.1;
}

.favButton:pressed:hover {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.favButton:focused {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 5,0,0,1 );
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.5) , 10,0,0,0 );
    -fx-opacity: 1.1;
}


.regularlabel {
    -fx-text-fill: #e8e8e8;
    -fx-opacity: 0.75;
}

.regularlabel:hover {
    -fx-opacity: 1;
}

.regularlabel:pressed:hover {
    -fx-text-fill: #46ab57;
}

.regularWindowBar {
    -fx-background-color:   #242424;
    -fx-opacity: 0.8;
}

.regularcheckbox:selected .mark {
    -fx-background-color: #46ab57;
}

.regularcheckbox .box {
    -fx-background-color: #242424;
    -fx-border-color: #e8e8e8;
}
  .marketplaceTableView {
       -fx-background-color:   #4f4d4d;
       -fx-text-fill: #ffffff;
       -fx-border-color:White;
       -fx-font-size: 15;
       -fx-text-fill: #e8e8e8;
  }

  .marketplaceTableView .column-header {
       -fx-background-color:#ffffff;
       -fx-text-fill:#ffffff;
       -fx-background-radius: 0;
  }

  .marketplaceTableView:row-selection{
       -fx-background-color:#e2e2e2
  }

  .marketplaceTableView .cell{
       -fx-alignment: center-left;
       -fx-background-color: #29292D;
       -fx-border-color: #ffffff;
       -fx-text-fill: #e8e8e8;
       -fx-alignment: CENTER_LEFT;
       -fx-font-size: 25;
       -fx-border-weight: 0.2px;
  }

  .marketplaceTableView .scroll-bar:horizontal .track,
  .marketplaceTableView .scroll-bar:vertical .track{
       -fx-background-color: transparent;
       -fx-border-color:derive( #6622CC,80%);

       -fx-background-radius: 2em;
       -fx-border-radius:2em;
  }

  .marketplaceTableView .scroll-bar:horizontal .thumb,
  .marketplaceTableView .scroll-bar:vertical .thumb {
       -fx-background-color:derive( #6622CC,90%);
       -fx-background-insets: 2, 0, 0;
       -fx-background-radius: 2em;
  }

   .marketplaceTableColumn {
    -fx-background-color:   #4f4d4d;
    -fx-border-color:  #ffffff;
    -fx-border-weight: 0.2px;
    -fx-font-size: 25;
    -fx-text-fill: #e8e8e8;
   }

   .marketplaceTableColumn:hover{
      -fx-background-color: #e8e8e8;
      -fx-text-background-color:  #6622CC;
   }

.regularcombobox {
    -fx-text-fill: #e8e8e8;
    -fx-border-color: #e8e8e8;
    -fx-background-radius: 0;
}

.regularcombobox .text-field {
    -fx-prompt-text-fill: #e8e8e8;
}

.regularcombobox:focused {
    -fx-border-color: #46ab57;
}



